header {
  border-bottom: 1px solid var(--borders);
  padding: 1.5rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 200px;
  height: 57px;
}

/* nav bar */

.header-container {
  display: flex;
  align-items: center;
  gap: 4rem; /* gap between nav bar and theme toggle */
}

header nav {
  display: flex;
  gap: 2.5rem; /* gap between nav bar items */
}

.link {
  position: relative;
  color: var(--text-color);
  text-decoration: none;

  font-size: 1.1rem;

  display: flex;
  justify-content: center;

  z-index: 1;
}
.link::after {
  position: absolute;
  transform: scale(1.3);
}

.unselected:hover {
  color: var(--brown);
}
.unselected::after {
  opacity: 0;
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJicm93biIgc3Ryb2tlPSJicm93biIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItYm9va21hcmsiPjxwYXRoIGQ9Ik0xOSAyMWwtNy01LTcgNVY1YTIgMiAwIDAgMSAyLTJoMTBhMiAyIDAgMCAxIDIgMnoiPjwvcGF0aD48L3N2Zz4=");
  bottom: -15px;

  transition: transform 0.2s;
}
.unselected:hover::after {
  opacity: 1;
  transform: translateY(10px) scale(1.3);
}

.selected {
  color: var(--red) !important;
}

.selected::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJyZWQiIHN0cm9rZT0icmVkIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9ImZlYXRoZXIgZmVhdGhlci1ib29rbWFyayI+PHBhdGggZD0iTTE5IDIxbC03LTUtNyA1VjVhMiAyIDAgMCAxIDItMmgxMGEyIDIgMCAwIDEgMiAyeiI+PC9wYXRoPjwvc3ZnPg==");
  opacity: 1;
  bottom: -25px;
}
.selected:hover::after {
  transform: scale(1.3);
}

.mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    padding: 2rem 0;
    padding-top: 1rem;
  }
  header nav {
    gap: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .logo {
    display: none;
  }
  header {
    padding: 0rem;
    position: sticky;
    bottom: 0;

    border: 0px;

    background-color: var(--opposite-bg);
  }

  .header-container {
    width: 100%;
    justify-content: center;
  }

  header nav {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  .link {
    color: var(--opposite-text-color);
    display: none;
  }
  .link::after {
    content: "";
  }

  .selected {
    --red: rgb(255, 137, 137);
  }

  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 1rem 0;
    gap: 0.25rem;
    height: 100%;
    border: 0;

    line-height: 1;

    border-right: 1px solid #ffffff50;
    font-size: 0.9rem;
  }
  :root.dark .mobile {
    border-color: #00000050;
  }
  .mobile:last-child {
    border-right: none;
  }
  .mobile svg {
    margin: auto;
  }
}

@media screen and (max-width: 370px) {
  .mobile p {
    display: none;
  }
}
