<link rel="stylesheet" href="/footer/footer.css" />

<footer>
  <p><a href="https://github.com/Uruwhy1/odin-inventoryApp">Github</a> | <a href="https://www.theodinproject.com/lessons/node-path-nodejs-inventory-application#project-solution">The Odin Project</a></p>
</footer>