<link rel="stylesheet" href="/partials/header/themeToggle.css" />
<link rel="stylesheet" href="/partials/header/header.css" />

<script src="/partials/header/theme.js"></script>
<script src="/partials/header/navBar.js"></script>

<header>
  <a class="logo" href="/">
    <img id="logo-image" src="" alt="" srcset="" />
  </a>
  <div class="header-container">
    <nav>
      <a class="link unselected" href="/">Home</a>
      <a class="link unselected" href="/books/">Books</a>
      <a class="link unselected" href="/categories/">Categories</a>
      <a class="link unselected" href="/authors/">Authors</a>
    </nav>
    <div id="theme-toggle"></div>
  </div>
</header>
