<link rel="stylesheet" href="/header/header.css" />
<link rel="stylesheet" href="/header/themeToggle.css" />

<script src="/header/theme.js"></script>
<script src="/header/navBar.js"></script>

<header>
  <a href="/">
    <img id="logo-image" src="" alt="" srcset="" />
  </a>
  <div class="header-container">
    <nav>
      <a class="link unselected" href="/">Home</a>
      <a class="link unselected" href="/books">Books</a>
      <a class="link unselected" href="/categories">Categories</a>
      <a class="link unselected" href="/authors">Authors</a>
    </nav>
    <div id="theme-toggle"></div>
  </div>
</header>
