<h1>Authors</h1>
<a href="/authors/new">Create New Author</a>
<ul>
  <% authors.forEach(author => { %>
  <li>
    <a href="/authors/<%= author.id %>"><%= author.name %></a>
    <a href="/authors/<%= author.id %>/edit">Edit</a>
    <form
      action="/authors/<%= author.id %>/delete"
      method="POST"
      style="display: inline"
    >
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>
