<h1>Books</h1>
<ul>
  <% books.forEach(book => { %>
  <li>
    <strong><%= book.title %></strong>: <%= book.description %>
    <a href="/books/<%= book.id %>/edit">Edit</a>
    <form action="/books/<%= book.id %>/delete" method="POST" style="display: inline">
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>
<a href="/books/new">Add New Book</a>
