<h1><%= category.name %> Books</h1>
<%- include('books.ejs') %>

<style>
  h1 {
    margin-bottom: -2rem;
  }

  @media screen and (max-width: 380px) {
    h1 {
      text-align: center;
      font-size: 1.8rem;
    }
  } 
  @media screen and (max-width: 340px) {
    h1 {
      font-size: 1.5rem;
    }
  }

</style>

