<link rel="stylesheet" href="home/home.css" />
<div class="home-content">
  <div class="home-text">
    <h1 class="home-title">Welcome to Bookshelf.</h1>
    <p class="home-subtitle">
      Search for a book, check authors, or browse by category.
    </p>
  </div>
</div>
