<link rel="stylesheet" href="home/home.css" />
<div class="home-content">
  <div class="home-text">
    <h1 class="home-title">
      Welcome to <span style="color: red">Bookshelf</span>.
    </h1>
    <p class="home-subtitle">
      Search for a book, check authors, or browse by category.
    </p>
  </div>
</div>
<div class="home-data-container">
  <h2>Trending Categories</h2>
  <ul class="home-data-list">
    <% categories.forEach(category => { %>
    <a href="/categories/<%= category.id %>"><li><%= category.name %></li></a>
    <% }) %>
  </ul>
</div>
<div class="home-data-container">
  <h2>Trending Authors</h2>
  <ul class="home-data-list">
    <% authors.forEach(author => { %>
    <a href="/authors/<%= author.id %>"><li><%= author.name %></li></a>
    <% }) %>
  </ul>
</div>
