<link rel="stylesheet" href="/books/book-page.css" />

<img
  class="cover"
  src="<%= book.image_url || '/assets/images/book.png' %>"
  alt=""
/>
<div class="info">
  <div>
    <h1 class="title"><%= title %></h1>
    <p class="author"><%= author %></p>
  </div>
  <div class="description">
    <% description.forEach(paragraph => { %>
    <p><%= paragraph %></p>
    <% }) %>
  </div>
</div>
