<link rel="stylesheet" href="/pages/item-pages/individual-page.css"defer>
<script src="/pages/item-pages/individualDelete.js" defer></script>

<div class="page-header-container">
  <h1>Books by <%= author.name %></h1>

  <div class="category-actions">
    <a href="/categories/<%= author.id %>/edit" class="btn edit-btn">Edit author</a>
    <form action="/categories/<%= author.id %>/delete" method="POST" id="deleteForm" class="delete-form">
      <button type="submit" data-page="author" class="btn delete-btn">Remove author</button>
    </form>
  </div>
</div>

<%- include('books.ejs') %>
