<link rel="stylesheet" href="/pages/item-pages/individual-page.css"defer>
<script src="/pages/item-pages/individualDelete.js" defer></script>

<div class="page-header-container">
  <h1><%= category.name %> Books</h1>

  <div class="category-actions">
    <a href="/categories/<%= category.id %>/edit" class="btn edit-btn">Edit Category</a>
    <form action="/categories/<%= category.id %>/delete" method="POST" id="deleteForm" class="delete-form">
      <button type="submit" data-page="category" class="btn delete-btn">Remove Category</button>
    </form>
  </div>
</div>

<%- include('books.ejs') %>