@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900");

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--main-bg);
  color: var(--text-color);

  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";

  grid-template-rows: min-content auto min-content;
}

header {
  grid-area: header;
}
main {
  grid-area: content;
}
footer {
  grid-area: footer;
}
