body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--main-bg);
  color: var(--text-color);

  width: 100vw;
  min-height: 100vh;

  display: grid;
  gap: 1rem;
  grid-template-areas:
    "header"
    "content"
    "footer";

  grid-template-rows: min-content auto min-content;
}

header {
  grid-area: header;
}
main {
  grid-area: content;
}
footer {
  grid-area: footer;
}
