:root {
  --main-bg: #ffffff;
  --opposite-bg: #303030;

  --link-text: rgb(0, 183, 255);
  --text-color: #000;
  --opposite-text-color: #fff;

  --borders: #ebebebfd;

  --brown: brown;
  --red: red;

  --book-bg: #eeeeee;

  /* below this line they are the same for .dark */
  --yellow: yellow;

  --edit-button-bg: rgb(253, 253, 114);
  --add-button-bg: rgb(255, 135, 135);
  --remove-button-bg: rgb(255, 92, 92);
  
  --home-anchor-bg: rgb(255, 222, 222);
  --home-anchor-bg-hover: rgb(247, 178, 178);
}

:root.dark {
  --main-bg: #303030;
  --opposite-bg: #ffffff;

  --link-text: rgb(0, 140, 255);
  --text-color: #fff;
  --opposite-text-color: #000;

  --book-bg: #818181;

  --borders: #535353fd;

  --brown: rgb(255, 217, 186);
  --red: rgb(255, 135, 135);
}
