:root {
  --main-bg: #ffffff;
  --opposite-bg: #303030;

  --form-border: rgba(0, 0, 0, 0.336);

  --link-text: rgb(0, 183, 255);
  --text-color: #000;
  --opposite-text-color: #fff;

  --borders: #ebebebfd;

  --brown: rgb(172, 62, 62);
  --red: #d00000;

  --book-bg: #eeeeee;

  --remove-button-bg: #d62121;
  --edit-button-bg: #3b52ac;

  --yellow: yellow; /* for theme toggle */

  /* below this line they are the same for .dark */
  --header-bg: rgb(255, 222, 222); /* only under 500px */

  --add-button-bg: #c64949;

  --home-anchor-bg: rgb(255, 222, 222);
  --home-anchor-bg-hover: rgb(247, 178, 178);
}

:root.dark {
  --main-bg: #303030;
  --opposite-bg: #ffffff;

  --form-border: transparent;

  --link-text: rgb(0, 140, 255);
  --text-color: #fff;
  --opposite-text-color: #000;

  --book-bg: #818181;

  --borders: #535353fd;

  --brown: rgb(255, 217, 186);
  --red: rgb(255, 135, 135);

  --edit-button-bg: #5f70b6;
  --remove-button-bg: #ff6262;

  --yellow: #ffbf00;
}
