/* bottom area */
ul {
  display: grid;
  gap: 2rem;

  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.25fr));
  grid-auto-rows: max-content;

  padding: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: 100%;

  position: relative;
  transition: opacity 0.5s;
}

.book-link {
  text-decoration: none;
  color: inherit;

  width: 100%;
  height: 100%;
}

.image {
  height: 250px;
  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 5px;
  margin-bottom: 0.3rem;
}

.tag-link {
  position: absolute;
  right: 4rem;
  top: -2px;
  padding: 0.5rem;

  border-radius: 0 0 51px 51px;
  border: 2px solid var(--main-bg);

  color: #fff;
  transition: 0.3s;

  cursor: pointer;
}
.tag-link:hover {
  filter: saturate(2);
  cursor: pointer;
  padding-top: 1.5rem;
}
.edit {
  background-color: var(--edit-button-bg);
}
.remove {
  right: 0.5rem;
  background-color: var(--remove-button-bg);
}

.info {
  align-self: start;

  display: flex;
  flex-direction: column;

  cursor: pointer;
}
.info div {
  height: 100%;
}

.title {
  font-size: 1.1em;
}
.author {
  font-weight: 500;
}

@keyframes extend {
  from {
    padding-top: 1.5rem;
  }
  to {
    padding-top: 218px;
    border-radius: 0;
  }
}
