main {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

/* top area */
.container-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  background-color: var(--book-bg);
  display: block;

  color: inherit;

  padding: 0.5rem 1rem;
  flex-grow: 1;
  flex-shrink: 2;

  border-radius: 5px;
  border: none;
}

.add-new {
  background-color: var(--add-button-bg);
  color: #fff;

  padding: 0.5em 1em;
  border-radius: 5px;

  text-decoration: none;
  transition: filter 0.3s;
}
.add-new:hover {
  filter: saturate(3);
}
.add-new:active {
  filter: saturate(6);
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0% 5%;
    overflow: hidden;
  }

  .container-header {
    margin-bottom: 1rem;
  }

  ul {
    gap: 3rem;
    margin-right: 2.5rem;
  }

  .tag-link {
    top: 1rem;
    right: -1.5rem;

    border-radius: 0 10px 10px 0;
  }
  .remove {
    top: 4rem;
    background-color: var(--remove-button-bg);
  }

  .tag-link:hover {
    top: 1rem;
    right: -2.5rem;
  }
  .remove:hover {
    top: 4rem;
  }

  @keyframes extend {
    from {
      z-index: 2;
    }
    to {
      right: -2.5rem;
      padding-left: calc(100% + 0.5rem);
      z-index: 2;
    }
  }
}

@media (hover: none) and (min-width: 1001px) {
  .tag-link {
    color: #fff;
    top: -2.5rem;
  }
}

@media (hover: none) and (max-width: 1000px) {
  .tag-link {
    right: -2.5rem;
    color: #fff;
  }
}

@media (max-width: 500px) {
  ul {
    grid-template-columns: 100%;
    margin-right: 0;

    gap: 1rem;
  }

  .book-link {
    display: flex;
    gap: 1rem;

    padding-right: 2rem;
  }

  .image {
    height: 100px;
    width: auto;
    aspect-ratio: 3 / 4;
  }

  .tag-link {
    z-index: 1000;
    border-radius: 5px;
    top: 0;
    right: -0.5rem;
  }
  .remove {
    top: 3rem;
  }

  .tag-link:hover {
    top: 0;
    right: -0.5rem;
  }
  .remove:hover {
    top: 3rem;
  }

  @keyframes extend {
    from {
    }
    to {
      padding-left: calc(100%);
    }
  }
}

@media screen and (max-width: 440px) {
  .search {
    width: 50%;
  }

  li {
    padding: 0;
  }
}

@media screen and (max-width: 380px) {
  .container-header {
    flex-direction: column;
  }
  .search {
    width: 100%;
    order: 1;
  }
}
