footer {
  background-color: var(--opposite-bg);
  transition: inherit;

  color: var(--opposite-text-color);
  text-align: center;

  padding: 0.3rem;
}

footer a {
  text-decoration: none;
  color: var(--link-text);
}
footer a:hover {
  text-decoration: underline;
}